@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .layout_padding-left {
    padding-left: 75px;
  }

  .hero_area .hero_container {
    background: none;
    background-color: #fee0cd;

  }

  .user_option-lg {
    display: none;
  }

  .hero_area .custom_nav-box {
    display: none;
  }

  .user_option {
    flex-direction: column;
  }

  .user_option a {
    margin: 0;
    margin-bottom: 5px;
  }

  .slider_section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .slider_section .detail-box {
    padding: 0;
    margin: 45px 0;

  }

  .slider_section .img-box {
    display: block;
  }

  .slider_section .carousel_btn-container {
    position: unset;
    margin: 35px auto;
  }

  .about_section .box {
    flex-direction: column;
  }

  .about_section .box .detail-box {
    padding: 75px 45px;
  }

  .subscribe_section .subscribe_container {
    flex-direction: column;
    align-items: normal;
  }

  .subscribe_section .subscribe_container .detail-box {
    padding: 75px 45px;
  }

  .info_section .social_box {
    width: 75px;
  }
}

@media (max-width: 768px) {


  .layout_padding-left {
    padding-left: 55px;
  }

  .client_section .box {
    width: 100%;
  }

  .info_section .social_box {
    width: 55px;
  }

  .service_section .service_container .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  .layout_padding {
    padding: 90px 0;
  }

  .layout_padding-top {
    padding-top: 90px;
  }

  .layout_padding-bottom {
    padding-bottom: 90px;
  }

  .info_section .row>div {
    text-align: center;
  }

  .info_section .row>div:not(:nth-last-child(1)) {
    margin-bottom: 25px;
  }

  .info_section .info_link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 576px) {
  .layout_padding-left {
    padding-left: 0;
  }

  .heading_container h2 {
    font-size: 2rem;
  }

  .spl_section .owl-carousel .owl-nav {

    flex-direction: row;
    bottom: 0;
    top: initial;
    left: 50%;
    transform: translateX(-50%);

  }

  .spl_section .owl-carousel .owl-nav button.owl-next,
  .spl_section .owl-carousel .owl-nav button.owl-prev {
    margin: 3px;
  }

  .spl_section .spl_container .box {
    margin-bottom: 75px;
  }

  .slider_section .detail-box h1 {
    font-size: 4rem;
  }

  .subscribe_section .subscribe_container .detail-box .heading_container h2::before {
    right: 37px;
  }

  .client_section .heading_container h2::before {
    right: 72px;
  }

  .client_section .box {
    flex-direction: column;
    align-items: center;
  }

  .info_section .social_box {
    display: none;
  }

  .footer_section .social_container {
    display: flex;
  }

}

@media (max-width: 480px) {}

@media (max-width: 420px) {
  .spl_section .spl_container {
    padding-left: 2%;
  }

  .spl_section .owl-carousel .item {
    width: 290px;
  }

  .slider_section .detail-box h1 {
    font-size: 3rem;
  }

  .subscribe_section .subscribe_container .detail-box {
    padding: 75px 25px;
  }

  .about_section .box .detail-box {
    padding: 75px 25px;
  }

}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    display: none !important;
  }
}